$color-text-orange: #F9B233;
$color-text-green: #A2C28F;
$avatar-max-height: 45px;

.study-list { 
    font-family: 'Roboto', sans-serif;
    .headline-subtitle {
        color: $color-text-orange;
        margin-bottom: 1rem;
        font-weight: 400;
        select, .filter-label {
            font-size: 1rem;
        }
        .filter-label {
            color: #898989;
            font-weight: normal;
        }
        &.underline  {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 1rem;
        }
    }
    .all-time {
        text-align: right;
        color: #a2c190;
        font-size: 35px;
        font-weight: bold;
    }
    .progress-item {
        height: 100%;
        border-radius: 6px;
        padding: 25px 35px;
        &.status-progress {
            background: #FADDAB;
            .progress {
                background: #dec498;
            }
            .progress-bar {
                background: $color-text-orange;
            }
        }
        &.status-due {
            background: #fceeeb;
            .progress {
                background: #dfd3d0;
            }
            .progress-bar {
                background: #e27d60;
            }
        }
        &.status-completed {
            background: #EEF8E9;
            .progress {
                background: #d3dccf;
            }
            .progress-bar {
                background: $color-text-green;
            }
        }
        .progress-img {
            margin-right: 35px;
        }
        .progress-title {

            font-size: 21px;
            font-weight: bold;
        }
        .progress-description  {
            font-size: 15px;
        }
    }

    .bdages-lessons-table {
        width: 100%;
        border-spacing: 10px;
        border-collapse: separate;
        tr {
            &:hover {
                td {
                    background: #FADDAB;
                }
                
            }
            &.badge-row {
                td {
                    background: #C7C7C7;
                    color: #000;
                    &:first-child {
                        border-left: 6px solid #5F276A;
                    }
                }
                .progress {
                    background: #b0b0b0;
                }
                .progress-bar {
                    background: $color-text-orange;
                }
                .badge-lesson-img {
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                }
                td {
                    width: auto!important;
                    min-width: auto!important;
                }
            }
            &.lesson-row {
                td:first-child {
                    border-left: 6px solid $color-text-orange;
                }
            }


            td {
                &:first-child {
                    width: 30%;
                    min-width: 300px;
                }
                &:nth-child(2) {
                    width: 5%;
                    min-width:95px;
                }
                &:nth-child(3) {
                    width: 3%;
                    min-width: 60px;
                }
                &:nth-child(4) {
                    width: 15%;
                    min-width: 200px;
                }
                &:nth-child(5) {
                    width: 12%;
                    min-width: 150px;
                }
                &:nth-child(6) {
                    width: 10%;
                    min-width: 100px;
                }
                &:nth-child(7) {
                    width: 10%;
                    min-width: 230px;
                }
                background: #F6F6F8;
                padding: 7px 12px;
                position: relative;
                &.badge-lesson-status {
                    color: #fff;
                    font-weight: bold;
                }
                &.status-done {
                    background: $color-text-green;
                }
                &.status-in-progress {
                    background: $color-text-orange;
                }
                &.status-not-started {
                    background: #1E4B96 ;
                }
                &.status-overdue {
                    background: #E27D60;
                }
            }

            th {
                font-weight: normal;
            }

            .badge-lesson-img {
                max-height: 45px;
            }
            .badge-lesson-title {
                font-weight: 500;
            }
            .assigned-by-placeholder {
                text-align: center;
                background: #619358;
                color: $color-text-green;
                border-radius: 50%;
                width: $avatar-max-height;
                height: $avatar-max-height;
                line-height: $avatar-max-height;
            }
            .assigned-by-img {
                max-height: $avatar-max-height;
                border-radius: 50%;
            }
            .effort-required {
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
    [data-tippy-content] {
        cursor:pointer;
    }
}

/* GLOBAL */
.flex-1 {
    flex: 1;
}
/*.absolute-ellipsis {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
}
.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/
.ellipsis-text {
    display: flex;
    line-height: 1;
    align-items: center;
}

@media (min-width: 576px) {
    .study-list-mobile-item, .mobile-section-title  {
        display:none!important;
    }
}

@media (max-width: 575.98px) {
    .badges-lessons {
        display: none;
    }
    .study-list-mobile-item {
        margin-bottom: 1px;
        font-size: 0.7rem;
        padding-left: 18px;
        &::before {
            
        }
    }
    .collapsed .mobile-arrow {
        left: 1rem;
        position: absolute;
        width: 0; 
        height: 0; 
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 11px solid #000;
    }
    .mobile-arrow {
        left: 1rem;
        position: absolute;
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 11px solid #000;
    }
    .mobile-status {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        &.blue {
            background: #004b9b;
        }
        &.green {
            background: #99c489;;
        }
        &.yellow {
            background: #ffaf00;
        }
    }
    .col-20 {
        -ms-flex: 0 0 18%;
        flex: 0 0 18%;
        max-width: 18%;
    }
    .mobile-title {
        font-size: 0.8rem;
        font-weight: bold;
        text-decoration: underline;
    }
    .mobile-subtitle {
        font-style: italic;
    }
    .inner-bg {
        background-color: #f6f6f8;
    }
    .mobile-date {
        font-size: 1rem;
    }
    .orange-title {
        color: #F9B233;
    }
    .mobile-section-title {
        .filter-label {
            color: #aaa;
        }
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
    }
}